/*font-family: 'Montserrat', sans-serif;*/
body{
font-family: 'Montserrat', sans-serif;
}
#header-container,
#info-container{
  background-color: #a0c34f;
  color: white;
}
#header-container .login,
#header-container .navbar-toggler {
  color: white;
}
#menu-container {
  background-color: #f7f7f9;

}

.btn.btn-platzi {
  background-color: #99c84a;
  color:white;
}

.btn.btn-platzi:hover {
  background-color: #8ab542;
}

input.form-control:focus {
  border-color: #99c84a;
}
#search-bar{
  padding: 1em;
}
#Menu{
  margin-left: 20%;
  margin-top: 10px;
}

.nav-link {
  color: #D5D5D7;
}

.nav-link:hover {
  color: #464a4c;
}

.activo,
.activo:hover{
  color: black;
}

@media (max-width: 768px) {
  .myIcon {
    display: inline-block;
  }
  .form-control {
    width: 75vw;
  }
  .hidden-sm-down {
    display: none;
  }
}
#productosCarousel img{
margin:0 auto;
}
.image-carousel{
  width: 100%;
  height:100vh;
}

/*==============*/
.info-container {
  background-color: #98ca3f;
  color:#fff; 
}

.info-container img{
 
  width: 100%;
    height:310px;
    margin: 0px;
    padding: 0px;
  
}
/*=====FOOTER=======*/

#footer-container{
  background-color: #1c3643;
  color:white;
  padding: 3em 0px;
  
}
#footer-container h4{
font-size:16px;
}
#footer-container .nav-link{
  color: white;
margin-top: 20px;
}

@media (max-width: 768px) {
  #productos-container [class*="col-"],
  #footer-container [class*="col-"] {
    margin-bottom: 2em;
  }
}


/**/

#breadcrumbs-container .breadcrumb {
  background-color: white;
}

#breadcrumbs-container .breadcrumb .breadcrumb-item {
  color: #1c3643;
}

#breadcrumbs-container .breadcrumb .breadcrumb-item.active {
  color: #95a5a6;
}

#breadcrumbs-container .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  content: ">";
}

#productos-container {
  margin-bottom: 2em;
}

#productos-container .list-group-item-action.active {
  background-color: #99c84a;
  border-color: #99c84a;
}

#productos-container .list-group+.list-group {
  margin-top: 1em;
}

@media (max-width: 768px) {
  #productos-container .filtros-toggle {
    margin-bottom: 1em;
  }
}

.pagination-container {
  margin-bottom: 0 !important;
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
  background-color: #99c84a;
  border-color: #99c84a;
}

.page-link, .page-link:focus, .page-link:hover {
  color: #8ab542;
}